# Lab 03: Fun with `pandas`!

Below are some exercises to get you working with `pandas` to manipulate data. As always, get as far as you can, and ask for help when you need it! Your teacher (me), you instructor, and your classmates are all here to help each other get better at coding. Getting the code to work is important, but do also take the time to make sure you understand what the commands are doing. This time, (with the exception of the Stroop challenge), all I've given you is the code to download the data. Then you are on your own. For the Stroop challenge, I gave the you code for the first step—after that, it's up to you :-)

## Music sales challenge

Write a script that:

1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
2. Adds a column which marks whether each row is from the list of physical singles or digital singles
3. Outputs the artist and single name for the year you were born. If there is no entry for that year, take the closest year after you were born.
4. Outputs the artist and single name for the year you were 15 years old.

### Combining and adding a coloumn

In [19]:
# Starter code...

%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_singles")

# Combining the best singles from rawdata variable
df_physical = rawdata[0]
df_digital = rawdata[3]

# Adds a column which marks whether each row is from the list of physical singles or digital singles
df_physical['Type'] = 'Physical Single'
df_digital['Type'] = 'Digital Single'

best_singles = pd.concat([df_physical, df_digital]) # giving a list of dataframes and concat them
best_singles

Requirement already satisfied: lxml in /opt/conda/lib/python3.10/site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

,Artist,Single,Released,Sales (in millions),Source,Type
0,Bing Crosby,"""White Christmas""",1942,50,[1],Physical Single
1,Elton John,"""Something About the Way You Look Tonight""/""Ca...",1997,33,[1],Physical Single
2,Bing Crosby,"""Silent Night""",1935,30,[2],Physical Single
3,Tino Rossi,"""Petit Papa Noël""",1946,30,[3],Physical Single
4,Bill Haley & His Comets,"""Rock Around the Clock""",1954,25,[4][5],Physical Single
5,Whitney Houston,"""I Will Always Love You""",1992,24,[6],Physical Single
6,Elvis Presley,"""It's Now or Never""",1960,20,[7][8],Physical Single
7,USA for Africa,"""We Are the World""",1985,20,[9],Physical Single
8,The Ink Spots,"""If I Didn't Care""",1939,19[disputed – discuss],[10],Physical Single
9,Celine Dion,"""My Heart Will Go On""",1997,18,[11],Physical Single
10,Mariah Carey,"""All I Want For Christmas Is You""",1994,16,[12],Physical Single
11,Baccara,"""Yes Sir, I Can Boogie""",1977,16,[13],Physical Single
12,Bryan Adams,"""(Everything I Do) I Do It for You""",1991,15,[14],Physical Single
13,John Travolta and Olivia Newton-John,"""You're the One That I Want""",1978,15,[15],Physical Single
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],[46][47],Digital Single
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],[46][47],Digital Single
2,Rihanna featuring Drake,"""Work""",2016,32.5[a],[48],Digital Single
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],[46][47],Digital Single
4,Ed Sheeran,"""Perfect""",2017,21.4[a],[46][47],Digital Single
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],[49],Digital Single
6,The Chainsmokers featuring Halsey,"""Closer""",2016,20.7[a],[50][46],Digital Single
7,Adele,"""Rolling in the Deep""",2011,20.6,[51][52][53],Digital Single
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],[49],Digital Single
9,Billie Eilish,"""Bad Guy""",2019,19.5[a],[54],Digital Single
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],[49],Digital Single
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],[46][47],Digital Single
12,Lil Nas X,"""Old Town Road""",2018,18.4[a],[54],Digital Single
13,Carly Rae Jepsen,"""Call Me Maybe""",2011,18.0,[55],Digital Single
14,Taylor Swift,"""Love Story""",2008,18.0[a],[56],Digital Single
15,Adele,"""Someone Like You""",2011,17.0,[57],Digital Single
16,Rihanna,"""Needed Me""",2016,17.0[a],[48],Digital Single
17,Shawn Mendes and Camila Cabello,"""Señorita""",2019,16.1[a],[54],Digital Single
18,Imagine Dragons,"""Radioactive""",2012,16[a],[58],Digital Single
19,Imagine Dragons,"""Believer""",2017,15.4[a],[59][60],Digital Single
20,Drake,"""God's Plan""",2018,15.3[a],[47],Digital Single

### Output of the artist and single name for the closest year I was born

In [20]:
# Saving birth year in variable 
birth_year = 2000 

# Going into coloumn with release year, and output the ones equal to or after my birth day
year_singles = best_singles.loc[best_singles['Released'] >= birth_year] 
year_singles

,Artist,Single,Released,Sales (in millions),Source,Type
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],[46][47],Digital Single
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],[46][47],Digital Single
2,Rihanna featuring Drake,"""Work""",2016,32.5[a],[48],Digital Single
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],[46][47],Digital Single
4,Ed Sheeran,"""Perfect""",2017,21.4[a],[46][47],Digital Single
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],[49],Digital Single
6,The Chainsmokers featuring Halsey,"""Closer""",2016,20.7[a],[50][46],Digital Single
7,Adele,"""Rolling in the Deep""",2011,20.6,[51][52][53],Digital Single
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],[49],Digital Single
9,Billie Eilish,"""Bad Guy""",2019,19.5[a],[54],Digital Single
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],[49],Digital Single
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],[46][47],Digital Single
12,Lil Nas X,"""Old Town Road""",2018,18.4[a],[54],Digital Single
13,Carly Rae Jepsen,"""Call Me Maybe""",2011,18.0,[55],Digital Single
14,Taylor Swift,"""Love Story""",2008,18.0[a],[56],Digital Single
15,Adele,"""Someone Like You""",2011,17.0,[57],Digital Single
16,Rihanna,"""Needed Me""",2016,17.0[a],[48],Digital Single
17,Shawn Mendes and Camila Cabello,"""Señorita""",2019,16.1[a],[54],Digital Single
18,Imagine Dragons,"""Radioactive""",2012,16[a],[58],Digital Single
19,Imagine Dragons,"""Believer""",2017,15.4[a],[59][60],Digital Single
20,Drake,"""God's Plan""",2018,15.3[a],[47],Digital Single

In [21]:
# Sorting the dataframe by the released year to get it in order 
closest_year = year_singles.sort_values(by=['Released'])
# Taking the first item in the sorted list, since this must be the single closest to the year 2000
closest_year = closest_year.iloc[0]
# Only outputting the artist name and single for the year 
print(f"Artist: {closest_year['Artist']}, Single: {closest_year['Single']}")

Artist: Taylor Swift, Single: "Love Story"

### Output of the artist and single name for the year I was 15 years old

In [26]:
songs_2015 = best_singles[best_singles['Released'] == 2015] # acces the release year row and check for instances = 2015
songs_2015

,Artist,Single,Released,Sales (in millions),Source,Type
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],[49],Digital Single
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],[49],Digital Single
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],[49],Digital Single

## Space challenge

1. Make a single dataframe that combines the space missions from the 1950's to the 2020's
2. Write a script that returns the year with the most launches
3. Write a script that returns the most common month for launches
4. Write a script that ranks the months from most launches to fewest launches

### Space missions from 1950's to 2020's

In [33]:
# Starter code...

#%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/Timeline_of_Solar_System_exploration")

# Combining space missions from index 0 to 8 from the rawdata, since this marks 1950's to 2020's
df_space_missions = pd.concat(rawdata[0:8])
df_space_missions

,Mission name,Launch date,Description,Ref(s)
0,Sputnik 1,4 October 1957,First Earth orbiter,[1][2]
1,Sputnik 2,3 November 1957,"Earth orbiter, first animal in orbit, a dog na...",[2][3][4]
2,Explorer 1,1 February 1958,Earth orbiter; discovered Van Allen radiation ...,[5]
3,Vanguard 1,17 March 1958,Earth orbiter; oldest spacecraft still in Eart...,[6]
4,Luna 1,2 January 1959,First lunar flyby (attempted lunar impact?); f...,[7][8][9][10]
...,...,...,...,...
18,Peregrine Mission One (including Iris and Colm...,8 January 2024,Lunar lander and rovers (landing precluded),[504]
19,IM-1 Nova-C Odysseus (including EagleCam deplo...,15 February 2024,Lunar landers,[505]
20,DRO A/B,13 March 2024,Lunar orbiters,[506]
21,Queqiao-2 (including Tiandu-1 and 2),20 March 2024,Lunar orbiters,[507]
22,Chang'e 6 (including Pakistan's ICUBE-Q cubesat),3 May 2024,"Lunar sample return, rover and orbiters; first...",[508][509]

### Returning the year with the most launches

In [49]:
# Creating if statement to check the coloumn 'Launch date' in dataframe

if 'Launch date' in df_space_missions.columns:
    # Count launches per year:
    # Using value_counts() to count the occurrences of each year, which represents the number of launches
    launch_counts = df_space_missions['Launch date'].value_counts()
    
    # Get the year with the maximum launches:
    # Use idxmax() to find the year with the highest count and max() to get the number of launches
    most_launches_year = launch_counts.idxmax()
    max_launches = launch_counts.max()

print(f"The year with the most launches is {most_launches_year} with {max_launches} launches.")

The year with the most launches is 3 December 2014 with 2 launches.

### Returning the most common month for launches

In [76]:

# Check if there's a date column (assuming the column is named 'Launch Date')
if 'Launch date' in df_space_missions.columns:
    # Convert 'Launch Date' to datetime format
    df_space_missions['Launch date'] = pd.to_datetime(df_space_missions['Launch date'])
    
    # Extract the month from 'Launch Date'
    # .dt.month_name() makes is write the name of the month instead of ex "10" for October
    df_space_missions['Month Name'] = df_space_missions['Launch date'].dt.month_name() 
      
    # Count launches per month
    month_counts = df_space_missions['Month Name'].value_counts()

    most_common_month = month_counts.idxmax()
    max_launches = month_counts.max()

    print(f"The most common month for launches is {most_common_month} with {max_launches} launches.")

The most common month for launches is November with 30 launches.

### Write a script that ranks the months from most launches to fewest launches

In [85]:
# usring .sort_values to sort the dataframe
df_months_sorted = month_counts.sort_values(ascending = False)
df_months_sorted

Month Name
November     30
August       27
September    22
October      22
July         21
January      19
December     19
May          17
March        15
February     14
June         14
April        13
Name: count, dtype: int64

## Supervillain challenge

1. Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
2. Write a script that ranks each decade in terms of how many supervillains debuted in that decade
3. Write a script that ranks the different comics companies in terms of how many supervillains they have, and display the results in a nice table (pandas dataframe)

## Stroop challenge

Every year between 2015 and 2021, the students in my Language, Cognition, and the Brain course participated in a version of the Stroop task. Using a stopwatch (ok, using their phones), they recorded how fast they could say a list of things (either reading or naming colors or color words). The column names mean "Reading with No Interference", "Naming with Interference", "Naming with No Interference", and "Reading with Interference". The times are in seconds.

### Stroop challenge 1: 
Transform these data from wide format to long format, so that the result is a dataframe with
- 1 column named "Participant_id" with a unique number for each participant (you can use the row indices)
- 1 column named "Year" with the year data
- 1 column named "Task" that shows which task they were doing
- 1 column named "RT" that shows their response time

In [ ]:
# Starter code 1...

df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")
df.head()

In [ ]:
# Starter code 2...

# Make a new column using the dataframe indices as particpant numbers

df.index.name = 'Participant_id'
df = df.reset_index()

#df.reset_index(inplace = True)
# NOTE: This line does exactly the same thing as the line above:
# it replaces the original df with a new df with the updated index. That's what
# "inplace = True" means. Or, you can just assign the dataframe with the updated index
# to a new dataframe with the same name as the old dataframe, which is what I did above.
# The end result is the same.

df

## Stroop challenge 2 (Advanced!!!):

Make a new dataframe which shows the mean response time (in seconds) for each task for each year.